<section class="login">
<header class="page-header">
<h1>Login</h1>
</header>

<%= form_tag '/login', class: "form-group" do %>

  Email: <%= text_field_tag :email, nil, class: "form-control" %>
  Password: <%= password_field_tag :password, nil, class: "form-control" %>
  <br>
  <%= submit_tag "Submit", class: "btn btn-primary" %>

<% end %>

</section>